.venv/
.git/
.gitignore
.idea/
.vscode/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.env
data/
api_testing.py
justfile
docker-compose.yml
dev-requirements.txt
uwazi_csv_conventions.md
README.md
Dockerfile
_version.py
__pycache__/
*.pyc
*.pyo
*.md
