<section class="divider uwazi-block">
  <div class="divider__line uwazi-block__inner"></div>
</section>

<style>
.divider {
  padding-top: 0;
  padding-bottom: 0;
  background: var(--color-bg);
  display: flex;
  justify-content: center;
}
.divider__line {
  width: 100%;
  height: 1px;
  background: var(--color-border);
}
</style>
